# 0. Khai báo các thư viện cần thiết

In [1]:
import pandas as pd
import numpy as np
import seaborn as nsn
from scipy import stats

# 1. Đọc dữ liệu từ file CSV

In [2]:
df = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2022/01/26023345/Credit_Scoring.csv", encoding = "ISO-8859-1")
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149992 entries, 0 to 149991
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Unnamed: 0                            149992 non-null  int64
 1   SeriousDlqin2yrs                      149992 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  149992 non-null  float64
 3   age                                   149992 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  149992 non-null  int64
 5   DebtRatio                             149992 non-null  float64
 6   MonthlyIncome                         120262 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       149992 non-null  int64
 8   NumberOfTimes90DaysLate               149992 non-null  int64
 9   NumberRealEstateLoansOrLines          149992 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  149992 non-null  int64
 11  NumberOfDependents                    146068 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB

# 2. Có phải những khách hàng không có người phụ thuộc sẽ có thu nhập trung bình theo tháng (MonthlyIncome) nhỏ hơn những khách hàng có người phụ thuộc không (với mức ý nghĩa 10%)

In [6]:
# Lấy ra dữ liệu chỉ có "MonthlyIncome" và "NumberOfDependents"
df1 = df.loc[:, ["MonthlyIncome", "NumberOfDependents"]]
df1.head()

   MonthlyIncome  NumberOfDependents
0            NaN                 NaN
1        23684.0                 2.0
2         2500.0                 0.0
3         6501.0                 2.0
4        12454.0                 2.0

In [7]:
df1.dropna(inplace = True)

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120262 entries, 1 to 149991
Data columns (total 2 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   MonthlyIncome       120262 non-null  float64
 1   NumberOfDependents  120262 non-null  float64
dtypes: float64(2)
memory usage: 2.8 MB

In [9]:
df1.describe()

       MonthlyIncome  NumberOfDependents
count   1.202620e+05       120262.000000
mean    6.669872e+03            0.851848
std     1.438414e+04            1.148409
min     0.000000e+00            0.000000
25%     3.400000e+03            0.000000
50%     5.400000e+03            0.000000
75%     8.249000e+03            2.000000
max     3.008750e+06           20.000000

In [11]:
# tách ra dữ liệu những người không có phụ thuộc
df1_1 = df1[df1.NumberOfDependents == 0]
df1_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65452 entries, 2 to 149991
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MonthlyIncome       65452 non-null  float64
 1   NumberOfDependents  65452 non-null  float64
dtypes: float64(2)
memory usage: 1.5 MB

In [14]:
df1_1.MonthlyIncome.describe()

count    6.545200e+04
mean     5.872649e+03
std      1.054375e+04
min      0.000000e+00
25%      3.000000e+03
50%      4.783000e+03
75%      7.400000e+03
max      1.794060e+06
Name: MonthlyIncome, dtype: float64

In [12]:
# tách ra dữ liệu những người có phụ thuộc
df1_2 = df1[df1.NumberOfDependents > 0]
df1_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54810 entries, 1 to 149988
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MonthlyIncome       54810 non-null  float64
 1   NumberOfDependents  54810 non-null  float64
dtypes: float64(2)
memory usage: 1.3 MB

In [15]:
df1_2.MonthlyIncome.describe()

count    5.481000e+04
mean     7.621886e+03
std      1.787631e+04
min      0.000000e+00
25%      4.000000e+03
50%      6.178000e+03
75%      9.166000e+03
max      3.008750e+06
Name: MonthlyIncome, dtype: float64

- Giả thuyết không: a1 - a2 >= 0
    + a1 - Không có người phụ thuộc
    + a2 - Có người phụ thuộc
- Giả thuyết đối: a1 - a2 < 0
- Mức ý nghĩa: 10%

In [13]:
print(stats.ttest_ind(df1_1.MonthlyIncome, df1_2.MonthlyIncome, equal_var= "False"))

Ttest_indResult(statistic=-21.042068853166636, pvalue=4.066681887306811e-98)

# 3. Có phải trung bình số lượng khoản vay (NumberOfOpenCreditLinesAndLoans) những khách hàng gặp khó khăn trong vòng 2 năm trở lại đây (SeriousDlqin2yrs =1) thì sẽ cao hơn những khách hàng không gặp khó khăn không với mức ý nghĩa 10%

In [16]:
# Lấy ra dữ liệu chỉ chứa NumberOfOpenCreditLinesAndLoans và SeriousDlqin2yrs
df2 = df.loc[:, ["NumberOfOpenCreditLinesAndLoans", "SeriousDlqin2yrs"]]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149992 entries, 0 to 149991
Data columns (total 2 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   NumberOfOpenCreditLinesAndLoans  149992 non-null  int64
 1   SeriousDlqin2yrs                 149992 non-null  int64
dtypes: int64(2)
memory usage: 2.3 MB

In [18]:
df2.dropna(inplace = True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149992 entries, 0 to 149991
Data columns (total 2 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   NumberOfOpenCreditLinesAndLoans  149992 non-null  int64
 1   SeriousDlqin2yrs                 149992 non-null  int64
dtypes: int64(2)
memory usage: 3.4 MB

In [19]:
df2.SeriousDlqin2yrs.unique()

array([0, 1], dtype=int64)

In [21]:
# tách ra dữ liệu chỉ chứa những người không gặp khó khăn trong vòng 2 năm
df2_1 = df2[df2.SeriousDlqin2yrs == 0]
df2_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139967 entries, 0 to 149991
Data columns (total 2 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   NumberOfOpenCreditLinesAndLoans  139967 non-null  int64
 1   SeriousDlqin2yrs                 139967 non-null  int64
dtypes: int64(2)
memory usage: 3.2 MB

In [22]:
df2_1.NumberOfOpenCreditLinesAndLoans.describe()

count    139967.000000
mean          8.493781
std           5.105282
min           0.000000
25%           5.000000
50%           8.000000
75%          11.000000
max          58.000000
Name: NumberOfOpenCreditLinesAndLoans, dtype: float64

In [23]:
# Tách là dữ liệu nhưng người gặp khó khăn trong vòng 2 năm
df2_2 = df2[df2.SeriousDlqin2yrs == 1]
df2_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10025 entries, 5 to 149971
Data columns (total 2 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   NumberOfOpenCreditLinesAndLoans  10025 non-null  int64
 1   SeriousDlqin2yrs                 10025 non-null  int64
dtypes: int64(2)
memory usage: 235.0 KB

In [24]:
df2_2.NumberOfOpenCreditLinesAndLoans.describe()

count    10025.000000
mean         7.881796
std          5.653652
min          0.000000
25%          4.000000
50%          7.000000
75%         11.000000
max         57.000000
Name: NumberOfOpenCreditLinesAndLoans, dtype: float64

- Giả thuyết không: a1 - a2 >= 0
    + a1 - Không có khó khăn tài chính
    + a2 - Có khó khăn tài chính
- Giả thuyết đối: a1 - a2 < 0
- Mức ý nghĩa: 10%

In [26]:
print(stats.ttest_ind(df2_2.NumberOfOpenCreditLinesAndLoans, df2_1.NumberOfOpenCreditLinesAndLoans, equal_var= "False"))

Ttest_indResult(statistic=-11.507519665584487, pvalue=1.2454452803390982e-30)